.balance-section {
    background-color: #f7fafc;
    margin-top: 1.25rem;
    padding: 1.25rem;
    box-shadow: 0 40x 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.total-balance-small {
    text-align: center;
    display: none;
    font-size: 1.25rem;
}

@media (min-width: 640px) {
    .total-balance-small {
        font-size: 1.5rem;
    }
}

.balance-details {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
}

.expense-box, .income-box {
    padding: 0.75rem;
    background-color: #fefcbf;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.expense-box h5, .income-box h5 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #4a5568;
}

@media (min-width: 640px) {
    .expense-box, .income-box {
        padding: 0.75rem;
    }
    .expense-box h5, .income-box h5 {
        font-size: 1.25rem;
        font-weight: 500;
    }
}

@media (min-width: 768px) {
    .expense-box, .income-box {
        padding: 1rem;
    }
    .expense-box h5, .income-box h5 {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

@media (min-width: 1024px) {
    .expense-box, .income-box {
        padding: 1.25rem;
    }
}

@media (min-width: 1280px) {
    .expense-box, .income-box {
        padding: 1.5rem;
    }
}

.expense-details, .income-details {
    display: flex;
    margin-top: 1rem;
}

.expense-icon, .income-icon {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem;
    background-color: #fed7d7;
    border-radius: 0.5rem;
    color: #e53e3e;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .expense-icon, .income-icon {
        padding: 0.5rem;
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .expense-icon, .income-icon {
        padding: 0.75rem;
    }
}

.expense-amount, .income-amount {
    margin-bottom: 0.75rem;
    font-weight: 700;
    color: #000000;
    margin-left: 1rem;
    font-size: 1.125rem;
}

@media (min-width: 640px) {
    .expense-amount, .income-amount {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .expense-amount, .income-amount {
        font-size: 1.875rem;
    }
}

@media (min-width: 1024px) {
    .expense-amount, .income-amount {
        font-size: 2.25rem;
    }
}

.total-balance-large {
    text-align: center;
    display: none;
}

@media (min-width: 768px) {
    .total-balance-large {
        display: block;
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .total-balance-large {
        padding: 1.25rem;
    }
}

@media (min-width: 1280px) {
    .total-balance-large {
        padding: 1.4rem;
    }
}

.total-balance-large h5 {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.875rem;
}

.total-balance-large p {
    font-weight: 700;
    font-size: 3rem;
}

@media (min-width: 1024px) {
    .total-balance-large p {
        font-size: 3.75rem;
    }
}