<div class="transaction-container">
    <div class="header">
        <div class="header-button-container">
            <div class="header-button"
                (click)="choseExpenseAction()"
                [ngClass]="expenseActionChosen ? 'active' : ''">
                Expense
            </div>
        </div>
        <div class="header-button-container border-left">
            <div class="header-button"
                (click)="choseIncomeAction()"
                [ngClass]="incomeActionChosen ? 'active' : ''">
                Income
            </div>
        </div>
    </div>
</div>
<app-expense-action *ngIf="expenseActionChosen"></app-expense-action>
<app-income-action *ngIf="incomeActionChosen"></app-income-action>